h1 {
    text-align: center;
    font-size: 100px;
}
.controls {
    position: relative;
    text-align: center;
}
button {
    font-size: 25px;
    background-color: darkgrey;
    color: white;
    border-radius: 10%;
    padding: px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    width: 35px;
}
button:hover {
    background-color: white;
    color: darkgray;
    border: 1px solid grey;
}
input {
    font-size: 25px;
    width: 50px;
    border: 2px solid darkgray;
    border-radius: 10%;
}